<html>
  <div class="mx-auto">
    <h1>About</h1>
  </div>
  <p class="mx-auto">ながのCAKEは全国発送可能なケーキ屋さんです。</br>
     お子様からお年寄りの方までお召し上がりいただけるよう、</br>
    様々なバリエーションをご用意しております。</br>
    また、全国へ発送可能ですので「いつ」でも「どこ」でもご注文いただけます。</br>
    ぜひご注文ください。</p>
    
  <p class="mx-auto"><%= image_tag 'no_image', size: "600x200" %></p>  

</html>
