<div class="container px-5 px-sm-0">
    </div>  
        <div class="col-md-10 offset-md-1">
              <h2>商品一覧</h2>
            <table class="table table-hover table-inverse">
                <thead>
                  <tr>
                    <th>会員ID</th>
                    <th>氏名</th>
                    <th>メールアドレス</th>
                    <th>ステータス</th>
                  </tr>
                </thead>
              <tbody>  
              <% @customers.each do |customer| %>
              
                <tr>
                    <td><%= customer.id %></td>
                    <td><%= link_to "customer.last_name,customer.first_name", admin_customer_path(customer) %></td>
                    <td><%= customer.email  %></td>
                    <td><% if customer.is_deleted %>
                        <p>販売ステータス：退会</p>
                        <% else %>
                        <p>販売ステータス：有効</p>
                        <% end %></td>
                </tr>
               
              <% end %>  
              </tbody> 
            </table>
        </div>
          
        
      </div>
    </div>